{
  "name": "com.passtore.host",
  "description": "Passtore native messaging host",
  "path": "__NATIVE_EXE_PATH__",
  "type": "stdio",
  "allowed_origins": [
    "chrome-extension://__EXTENSION_ID__/"
  ]
}
